<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="http://127.0.0.1:8000/">Нүүр хуудас</a></li>
  {% for i in categories %}
  <li><a href="{% url 'posts' %}">{{i.name}}</a>
  {% endfor %}
</ul>

<div style="padding:20px;margin-top:30px;">
  {% for i in posts %}
  <h3>{{i.title}} {{i.created}}</h3>
  <p>{{i.text}}</p>
  {% endfor %}
</div>

</body>
</html>
